[submodule ".registry"]
	path = .registry
	url = https://github.com/itchyshin/itchyshin.r-universe.dev
	branch = HEAD
[submodule "pigauto"]
	path = pigauto
	url = https://github.com/itchyshin/pigauto
	branch = main
